#wrapper{
            
    width:700px;
    padding:20px;
    margin:20px;

}
fieldset{
border-color:yellow;
border-style: double;}
p {
transition: transform .2s;
}
p:hover{
-ms-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);

}
h3{
display:inline-block;
}
.all {
display:inline-block;
}
.all2{
display:inline-block;
}
h5{
display: inline-block;
padding:5px;
width:35px;
}
.shift{
margin:2px 40px;
}
#preview{
height:100px;
width:200px;

}
#finput{
height:50px;

}
